* {
  margin: 0;
  padding: 0;
  border: 0;
}

p, a {
  font-size: 14px;
}

a {
  text-decoration: none;
  color: #333333;
  line-height: 1em;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

ul, ol, li {
  list-style: none;
}

#header > .inner {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
#header > .inner > .left_content {
  flex: 0 1 auto;
}
#header > .inner > .right_content {
  flex: 0 1 auto;
}
#header > .inner > .right_content > .sp_menu {
  max-width: 30px;
}
@media screen and (max-width: 768px) {
  #header > .inner {
    align-items: center;
  }
}
#header .header_site_title {
  font-size: 18px;
}
#header .header_subnav {
  display: block;
}
@media screen and (max-width: 768px) {
  #header .header_subnav {
    display: none;
  }
}
#header .header_subnav > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header .header_subnav > ul > li {
  flex: 0 1 auto;
  border-left: solid 1px #333333;
  border-right: solid 1px #333333;
}
#header .header_subnav > ul > li + li {
  margin-left: -1px;
}
#header .header_subnav > ul > li > a {
  display: block;
  padding: 1px 3px;
  text-align: center;
  font-size: 12px;
}
#header .sp_menu {
  display: none;
}
@media screen and (max-width: 768px) {
  #header .sp_menu {
    display: block;
  }
}
#header .sp_menu > .inner > a {
  display: block;
}
#header .sp_menu > .inner > a > img {
  display: block;
  width: 100%;
  height: 100%;
}

#gnav {
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #999999;
}
@media screen and (max-width: 768px) {
  #gnav {
    display: none;
  }
}
#gnav > .inner > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#gnav > .inner > ul > li {
  flex: 1 1 auto;
  border-left: solid 1px #ffffff;
  border-right: solid 1px #ffffff;
}
#gnav > .inner > ul > li + li {
  margin-left: -1px;
}
#gnav > .inner > ul > li > a {
  display: block;
  padding: 6px 5px;
  text-align: center;
  color: #ffffff;
}

#footer {
  background-color: #000000;
  color: #ffffff;
}
#footer > .inner {
  color: inherit;
}
#footer > .inner > .footer_copyright {
  text-align: center;
}
#footer .footer_copyright {
  color: inherit;
  font-size: 12px;
}

.sp_menu_content .sp_menu_list > li {
  display: block;
}
.sp_menu_content .sp_menu_list > li + li {
  border-top: solid 1px #999999;
}
.sp_menu_content .sp_menu_list > li > a {
  padding-top: 5px;
  padding-bottom: 5px;
}
.sp_menu_content .sp_menu_list > li > a.common_btn {
  display: inline-block;
  vertical-align: top;
}
.sp_menu_content .sp_menu_list > li > a.common_btn > .common_btn_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sp_menu_content .sp_menu_list > li > a.common_btn > .common_btn_container > .common_btn_icon {
  display: block;
  width: 5px;
  height: 7px;
  flex: 0 0 auto;
}
.sp_menu_content .sp_menu_list > li > a.common_btn > .common_btn_container > .common_btn_text {
  display: block;
  flex: 1 1 auto;
  padding-left: 5px;
  text-indent: -5px;
  text-align: center;
}
.sp_menu_content .sp_menu_list > li > a .common_btn_icon {
  background-image: url(http://placehold.it/5x7);
}

.document_size {
  box-sizing: border-box;
}
.document_size > .inner {
  max-width: 1024px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  box-sizing: inherit;
}
