#popup_sample > .content {
  height: 300px;
}
#popup_sample > .content > .popup1 {
  position: absolute;
  bottom: 0;
}
#popup_sample > .content > .popup1 a {
  display: block;
  font-size: 8px;
}
