@charset "utf-8";
// ========= ディレクトリパス関連 =========
// 画像パス
$imgPath: 'placehold.it/';

// ========= ドキュメント関連 =========
// ドキュメントサイズ
// pc
$document_width: 1024px;
// スマホ
$sp_document_width: 768px;

// z-index管理
$z_index_counter: 1;
// デフォルト
$base_z_index: 0;
// オーバーレイヤー
$z_index_lv2: $base_z_index + $z_index_counter;
// その他オーバーレイヤーの上に表示されるＵＩ系用
$z_index_lv3: $z_index_lv2 + $z_index_counter;

// ========= サイト幅固定 or リキッド =========
// true: リキッド
// false: 固定
// $requid_key: true;
$requid_key: false;

// 色
$base_color: #333333;
$black: #000000;
$white: #ffffff;
$base_gray: #999999;


// 文字関連
$base_font_family: '"Meiryo","Hiragino Kaku Gothic ProN","MS PGothic",sans-serif';

// 文字サイズ
$small_font_size: 12px;
$base_font_size: 14px;
$little_large_font_size: 16px;
$large_font_size: 18px;
$largest_font_size: 20px;