@charset "utf-8";
@import "_config";

* {
	margin: 0;
	padding: 0;
	border: 0;
}

p, a {
	font-size: $base_font_size;
}

a {
	text-decoration: none;
	color: $base_color;
	line-height: 1em;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
}

ul, ol, li {
	list-style: none;
}
