@charset "utf-8";
@import "_reset";
@import "_mixin";

html, body, #wrapper {
	height: 100%;
	@if $requid_key == true {
		overflow-x: hidden;
	}
	@include media_query ('screen', 'sp') {
		overflow-x: hidden;
	}
}

#wrapper {
	position: relative;
	z-index: $base_z_index;
}

// ヘッダー
#header {
	& > .inner {
		display: flex;
		justify-content: space-between;
		padding: 10px;
		& > .left_content {
			flex: 0 1 auto;
		}
		& > .right_content {
			flex: 0 1 auto;
			& > .sp_menu {
				max-width: 30px;
			}
		}
	}
	@include media_query ('screen', 'sp') {
		& > .inner {
			align-items: center;
		}
	}

	.header_site_title {
		font-size: $large_font_size;
	}
	.header_subnav {
		@include device_switch('pc', block);
		& > ul {
			display: flex;
			justify-content: space-between;
			align-items: center;
			& > li {
				flex: 0 1 auto;
				border-left: solid 1px $base_color;
				border-right: solid 1px $base_color;
				& + li {
					margin-left: -1px;
				}
				& > a {
					display: block;
					padding: 1px 3px;
					text-align: center;
					font-size: $small_font_size;
				}
			}
		}
	}
	// スマホ：メニューボタン
	.sp_menu {
		@include device_switch('sp', block);
		& > .inner {
			& > a {
				display: block;
				& > img {
					display: block;
					width: 100%;
					height: 100%;
				}
			}
		}
	}
}

// グロナビ
#gnav {
	@include device_switch('pc', block);
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: $base_gray;
	& > .inner {
		& > ul {
			display: flex;
			justify-content: space-between;
			align-items: center;
			& > li {
				flex: 1 1 auto;
				border-left: solid 1px $white;
				border-right: solid 1px $white;
				& + li {
					margin-left: -1px;
				}
				& > a {
					display: block;
					padding: 6px 5px;
					text-align: center;
					color: $white;
				}
			}
		}
	}
}

#container {
	& > .inner {
	}
}

// フッター
#footer {
	background-color: $black;
	color: $white;
	& > .inner {
		color: inherit;
		& > .footer_copyright {
			text-align: center;
		}
	}
	.footer_copyright {
		color: inherit;
		font-size: $small_font_size;
	}
}

#common_dynamicContainer {
	display: none;
}
// スマホ：メニューリスト
.sp_menu_content {
	@include sp_menu_content (250px);
	& > nav {
		& > .inner {
			& > section {
				& > header {

				}
				& > .content {
					& > .inner {
						ul {
						}
					}
				}
			} 
		}
	}
	.sp_menu_list {
		& > li {
			display: block;
			& + li {
				border-top: solid 1px $base_gray;
			}
			& > a {
				@include btn ('true', 5px, 7px, 'icon_left', 'inline');
				padding: 5px 10px;
				.common_btn_icon {
					background-image: url(http://#{$imgPath}5x7);
					& + .common_btn_text {
						margin-left: 5px;
					}
				}
			}
		}
	}
}

@include common_popup ($base_color);

// サイト幅
.document_size {
	box-sizing: border-box;
	@if $requid_key == false {
		min-width: $document_width;
		@include media_query ('screen', 'sp') {
			min-width: auto;
			min-width: initial;
		}
	}
	& > .inner {
		max-width: $document_width;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		box-sizing: inherit;
	}
}
.common_overlayar {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: $z_index_lv2;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,0.7);
	&.active {
		display: block;
	}
}
