@charset 'utf-8';
@import "_mixin";

#popup_sample {
	& > .content {
		height: 300px;
		& > .popup1 {
			position: absolute;
			// top: 0;
			bottom: 0;
			// bottom: 120px;
			// right: 0;			
			right: 100px;			
			// left: 0;
			// left: 300px;
			a {
				display: block;
				font-size: 8px;
			}
		}
	}
}